/* Declarando variables */
:root {
	/*Colores*/
	--primary: #F32853;
	--secundary: #323037;
	--gris: #AAAAAA;
	--grisOscuro: #484848;
	--grisClaro: #F6F6F6;
	--blanco: #FFFFFF;
	--negro: #000000;

	/*Fuentes*/
	--fnormal: 'Relaway';
	--flight: 'Relaway Light';
	--fmedium: 'Relaway Medium';
	--fbold: 'Relaway Bold';
	--fsemibold: 'Relaway Semibold';
	--fextrabold: 'Relaway Extrabold';
}

/* Estilos Globales */
*, *:after, *:before {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/* Estilos Generales */
html{
	box-sizing: inherit;
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-family: var(--fnormal);
}

a{ text-decoration: none; }

h1{ font-size: 4.8rem; }
h2{ font-size: 3.9rem; }
h3{ font-size: 3.1rem; }
h4{ font-size: 2.5rem; }
h5{ font-size: 2rem; }

img{max-width: 100%;}

/* Reutilizables */
.container{
	max-width: 120rem;
	width: 80%;
	margin: 0 auto;
}

.boton{
	background-color: var(--primary);
	color: var(--blanco);
	text-transform: uppercase;
	font-family: var(--fbold);
	font-size: 1.8rem;
	margin-top: 4rem;
	padding: 2rem 4rem;
	border-radius: 5px;
}

/* Header */
.bannerHeader {
    background: linear-gradient(rgb(54 54 54 / 70%), rgb(54 54 54 / 70%)),  url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

.bannerTop {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 93%;
}

.bannerTop-logo p, .bannerTop-logo p a{
	text-transform: uppercase;
	font-size: 1.8rem;
}


.navigation a{
	color: var(--blanco);
	font-size: 1.8rem;
	text-transform: uppercase;
}

.bannerTop-logo p a{ color: var(--blanco); font-family: var(--fbold) }

.navigation a:nth-child(2){ margin:0 4rem; }

.bannerCenter{
	align-self: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerCenter h1{
	text-transform: uppercase;
	font-family: var(--fmedium);
}

.bannerCenter p{
	color: var(--gris);
	text-transform: uppercase;
	font-size: 2.1rem;
	text-align: center;
	line-height: 1.5;
}

/* Seccion de Descripcion */
.descTexto{
	display: flex;
	padding: 9rem 0;
	max-width: 90rem;
    width: 80%;
    flex-direction: column;
}
@media (min-width: 970px) {
	.descTexto{
		justify-content: space-between;
		column-gap: 5rem;
		flex-direction: row;
	}
}
.descTextoLeft{
	flex: 0 1 50%;
}
.descTextoLeft-title{
	color: var(--grisOscuro);
	font-size: 4rem;
	font-family: var(--fbold);
	text-transform: uppercase;
	line-height: 1.5;
}
.descTextoLeft-subtitle{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 0;
    color: var(--gris);
    line-height: 3.3rem;
}
@media (min-width: 970px) {
	.descTextoLeft-subtitle{
		margin-top: 2rem;
	}
}
.descTextoRight{
	margin-top: 5rem;
}
@media (min-width: 970px) {
	.descTextoRight{
		flex: 0 1 50%;
		margin-top: 0;
	}
}
.descTextoRight p{
	font-size: 2rem;
	color: var(--gris);
	line-height: 3rem;
}

.descTextoRight p:last-child{
	margin-top: 2rem;
}
/* Seccion cards */
.cards{
	background-color: var(--grisClaro);
	padding: 9rem 0;
	text-align: center;
}
.cards-title{
	color: var(--grisOscuro);
    font-size: 4rem;
    font-family: var(--fbold);
    text-transform: uppercase;
}
.cards-subtitle{
	font-size: 2rem;
    text-transform: uppercase;
    color: var(--gris);
    line-height: 3.3rem;
}
.cards-content{
	margin-top: 6rem;
	display: flex;
	justify-content: space-between;
}
.cards-card{
	background-color: var(--blanco);
	flex: 0 1 48%;
	box-shadow: 0px 0px 2px #CCC;
}
.cards-card__img{

}
.cards-card__img img{width: 100%;}
.cards-card__title{
	font-family: var(--fbold);
	font-size: 2rem;
	color: var(--secundary);
	text-transform: uppercase;
	padding: 4rem 0;
}

.cards-buttons{
	display: flex;
	justify-content: center;
	column-gap: 1em;
}

.boton-gris{
	background-color: var(--secundary);
}